snippet d
	def ${1:name}
		${2:$VISUAL}
	end
snippet def
	def ${1:name}(${2:args})
		${3:$VISUAL}
	end
snippet cl
	class ${1:name}
		${2}
	end
snippet cla
	class ${1:name} < ${2:parent}
		${3:$VISUAL}
	end
snippet mod
	module ${1:name}
		${2:$VISUAL}
	end
snippet d
	do
	  ${1:$VISUAL}
	end
snippet do
	do |${1:args}|
	  ${2:$VISUAL}
	end
snippet if
	if ${1:condition}
	  ${2:$VISUAL}
	end
